pip>23
wheel
winshell
requests
nptime
setuptools
pathlib
datetime
numpy
pywin32
psutil
selenium
pyperclip
beautifultable
validators
tzlocal
pandas
python-dateutil
google-api-python-client
google_auth_oauthlib